#ifndef __APP_HPP__
#define __APP_HPP__

#define LOG0( format ) Serial.printf( "(%ld) " format, millis())
#define LOG1( format, x) Serial.printf( "(%ld) " format, millis(), x )

#define OTA_HOSTNAME "esp32-arduino-info"
#define OTA_PASSWORD "otapass"
#define WIFI_SSID "<your wifi ssid>"
#define WIFI_PASS "<your wifi password>"

#define APP_NAME "ESP32 Chip Info - Arduino"
#define APP_VERSION "1.6.0"

#define TIMEZONE "CET-1CEST-2,M3.5.0/02:00:00,M10.5.0/03:00:00"
#define NTP_SERVER "<your ntp server>"

#define BOARD_LED_OFF (1-BOARD_LED_ON)

#endif
